.container{
	display:flex; /* 要素をフレックスボックスレイアウトにする(子要素を柔軟に並べられるようにする) */
	/* flex-direction:row; */ /* 子要素を横方向(左から右)に並べる設定(デフォルトの並び方) */
	flex-direction:column;
}

.item{
	width:200px;
	border:1px solid #000; /* 各アイテムの周囲に黒い1pxの枠線を付ける(視覚的に区切るため) */
}