

/*ヘッダーの要素*/

.layout{
	grid-template:
		"header header header" auto /* 1行目：3列すべてをヘッダーで占め、高さは自動(auto) */
		"...... ...... ......" 10px /* 2行目：空白行(点は何も配置しない)。高さ10pxの余白として利用 */
		"side   ...... main  " minmax(200px, 1fr) /* 3行目：左にサイド、中央は空白、右にメイン。高さは最小200px〜最大1frで可変 */
		"...... ...... ......" 10px /* 4行目：空白行。高さ10pxの余白 */
		"footer footer footer" auto /* 5行目：3列すべてをフッターで占め、高さは自動(auto) */
		/ 260px 10px 1fr; /* 列幅：左から260px、10px(隙間)、右が残りスペースいっぱい(1fr) */
}

.site-header{
	display:flex;
	align-items: center;
	grid-area:header; /* grid-templateで指定した"header"のエリアに配置 */
	border-bottom: 1px solid #dcdcdc; /*薄いグレーのライン*/
}

.btn{
	width:35px;
	height:35px;
	color:white; /*文字色を白*/
	background:#2bb07b; /*背景色を緑*/
	border:none; /*枠線なし*/
	border-radius:50%; /*丸くする*/
	margin-right:10px; /*左に余白*/
}


/*サイドバーの要素*/


.side-menu{
	display: flex;
	flex-direction: column; /*縦に並べる*/
	width: 200px; /*横幅200px*/
}

.side-item{
	display: flex;
	position: relative; /*要素の配置と子要素の起点を指定*/
	align-items: center; /*フレックス軸（縦方向）で中央揃え*/
	padding:10px; /*周りに10px*/
	width: 100%; /*横幅いっぱい*/
	margin:5px; /*外側に10px*/
	gap:8px; /*要素のあいだの隙間*/
	border-radius:10px; /*丸くする*/
	/*background: #4169e1; いったんわかりやすくする用*/
}

a{
	display: block; /*ブロック要素？*/
	text-decoration:none; /*下線を消す*/
	/*color:white; 文字色を白*/
	a  text-decoration: none; /*不変にする*/
}

.side-item:hover{
	display: flex; /*ブロック要素？*/
	/*background: #ffff00; いったんわかりやすくする用*/
	background: #dcdcdc
}

.side-item::before{
	width:8px;
	height:34px;
	content:"";
	display: block;
	background:#f28b82;
}

.side-item::after{
	position:  absolute; /*要素の配置を指定*/
	right:10px;
	content:">>";
	color:#a9a9a9;
}
